* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.contact-us {
  height: 100vh;
  background: url("https://i.ibb.co/nzd2rMW/r1.jpg") no-repeat center fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: auto;
  width: 80vw;
  max-width: 640px;
  padding: 4rem;
  border: 2px solid #fff;
  background: rgba(3, 0, 0, 0.644);
  color: #fff;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

input {
  font-weight: 500;
  padding: 0.5rem 0rem;
  margin: 1rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid #fff;
}
::placeholder {
  color: hsl(0, 0%, 80%);
}
button.btn {
  font-weight: 500;
  padding: 0.5rem 1rem;
}
